:root {
    /* Sizes */
    --main-inline-size: 1200px;
    --main-block-size: 100%;
    --max-width-large: 1150px;

    /* Fonts */
    --primary-font-family: 'Fira Sans Condensed', 'Helvetica', 'Arial';
    --secondary-font-family: 'Oswald', 'Helvetica', 'Arial';
    --standard-font-size: 1rem;
    --enormous-font-size: 4.6875rem;
    --bold-font-weight: 700;
    --small-line-height: 90%;
    --smaller-line-height: 94%;
    --standard-line-height: 100%;
    --large-line-height: 110%;
    --large-font-size: 1.875rem;
    --medium-font-size: 1.125rem;
    --standard-font-weight: 400;

    /* Colors */
    --dark-color: #000;
    --main-background-color: #1b1919;
    --accent-color: #545050;
    --primary-font-color: #fff;
    --secondary-font-color: #ffffffB2;

    /* Borders */
    --standard-border: 1px solid currentColor;
    --dark-border: 1px solid var(--dark-color);
    --outline-offset: 1px;
}