.result {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.result__video-container {
    position: relative;
    inline-size: 711px;
    block-size: 386px;
}

.result__video {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
}