@import url(index.css);

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--primary-font-color);
  font-family: var(--primary-font-family), sans-serif;
  font-weight: var(--standard-font-weight);
  font-size: var(--standard-font-size);
  font-style: normal;
  line-height: normal;
  background-color: var(--main-background-color);
  inline-size: var(--main-inline-size);
  block-size: var(--main-block-size);
}
